In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('vis_box.csv')

In [3]:
df.head(20)

    Unnamed: 0   X1  Y1   X2  Y2
0            0  303  28  310   0
1            1  310  28  315   0
2            2  314  28  322   0
3            3  321  28  331   0
4            4  338  28  341   0
5            5  338  18  364   0
6            6  345  28  352   0
7            7  352  28  364   0
8            8  375  28  383   0
9            9  405  17  430   0
10          10  426  28  434   0
11          11  316  45  331  15
12          12  331  45  341  15
13          13  320  33  356  19
14          14  376  45  389  15
15          15  376  36  418  20
16          16  398  45  421  15
17          17   42  98   63  63
18          18   46  88   92  74
19          19   71  98   83  63

In [4]:
df[df.Y1 == df.Y1[0]]

    Unnamed: 0   X1  Y1   X2  Y2
0            0  303  28  310   0
1            1  310  28  315   0
2            2  314  28  322   0
3            3  321  28  331   0
4            4  338  28  341   0
6            6  345  28  352   0
7            7  352  28  364   0
8            8  375  28  383   0
10          10  426  28  434   0

In [5]:
l1 = df[df.Y1 == df.Y1[0]]

In [23]:
l1.X1.min()

303

In [22]:
l1.X2.max()

434

further coding will be 
l1 x2[0] == l1 x1[1]

In [8]:
len(l1)

9

In [19]:
for i in range(len(l1)):
    try:
        x = l1.X2.iloc[i]
        y = l1.X1.iloc[i+1]
        if x > y-5 and y+5 > x:
            print('positive')
        else:
            print('negative')
    except Exception:
        pass

positive
positive
positive
negative
positive
positive
negative
negative